<template>

  <div>

    <card class="mb-3 col-md-6 offset-sm-3">

      <div class="form-group">
        <label for="inputWidth">{{ $t('width') }}</label>
        <input v-model.trim="filterWidth" class="form-control" id="inputWidth" @change="changeFilter">
      </div>

      <div class="form-group">
        <label for="inputWidth">{{ $t('height') }}</label>
        <input v-model.trim="filterHeight" class="form-control" @change="changeFilter">
      </div>

      <div class="row">
        <div class="col-12">
          {{ $t('grayscale') }}
          <toggle-button v-model="grayscale" @change="changeFilter"/>
          {{ $t('color') }}
        </div>
      </div>

    </card>

    <card class="mb-3 col-md-6 offset-sm-3 text-center"
          v-for="(photo, index) in photos"
          :key="index">

      <img
        v-bind:src="grayscale ? photo.link : '/api/photos/grayscale?link=' + photo.link"
        style="width:100%">

      <div>
        <small class="text-muted">
          W:{{ photo.width }} x H:{{ photo.height }}
        </small>
      </div>

    </card>

    <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler"></infinite-loading>

  </div>

</template>

<script>

    import axios from 'axios';

    const api = '/api/photos/all';

    export default {
        middleware: 'auth',

        metaInfo() {
            return {title: this.$t('home')}
        },

        data() {
            return {
                page: 1,
                photos: [],
                filterWidth: null,
                filterHeight: null,
                grayscale: false,
                infiniteId: +new Date(),
            };
        },

        methods: {

            infiniteHandler($state) {
                axios.get(api, {
                    params: {
                        page: this.page,
                        width: this.filterWidth,
                        height: this.filterHeight,
                        grayscale: this.grayscale
                    },
                }).then(({data}) => {
                    if (data.length) {
                        this.page += 1;
                        this.photos.push(...data);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },

            changeFilter() {
                this.page = 1;
                this.photos = [];
                this.infiniteId += 1;
            }
        },

    }
</script>
